{% extends "auth/layouts/auth-base.html" %}
{% block title %}Sign-Up{% endblock %}
{% block content %}

<!-- Sign Up Title -->
<h1 class="mb-1 fw-bold text-center" style="font-size: 1.8rem; color: #212529;">Sign Up</h1>
<p class="text-muted mb-2 text-center" style="font-size: 0.9rem;">Start investing in global stocks in minutes.</p>

<!-- Form -->
<form method="post" action="{{ url_for('auth.register') }}" id="register">
    <!-- First Name Input -->
    <div class="mb-1">
        <label for="fname" class="form-label text-muted small">First Name</label>
        <input type="text" class="form-control" id="fname" name="first_name" placeholder="Billy">
    </div>
    <!-- Last Name Input -->
    <div class="mb-1">
        <label for="lname" class="form-label text-muted small">Last Name</label>
        <input type="text" class="form-control" id="lname" name="last_name" placeholder="Kimber">
    </div>
    <!-- Username Input -->
    <div class="mb-1">
        <label for="username" class="form-label text-muted small">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="billykimber">
    </div>
    <!-- DOB Input -->
    <div class="mb-1">
        <label for="dob" class="form-label text-muted small">Date of Birth</label>
        <input type="date" class="form-control" id="dob" name="dob">
    </div>
    <!-- Email Input -->
    <div class="mb-1">
        <label for="email" class="form-label text-muted small">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="stocksco@example.com">
    </div>
    <!-- Phone Number Input -->
    <div class="mb-1">
        <label for="tel" class="form-label text-muted small">Phone Number</label>
        <input type="tel" class="form-control" name="phone_number" id="tel">
    </div>

    <!-- Password Input -->
    <div class="mb-1">
        <label for="password" class="form-label text-muted small">Password</label>
        <div class="input-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <button class="btn btn-outline-secondary" type="button" onclick="togglePassword()">
                <img src="../../static/images/eye-icon.png" alt="Show password" width="20" height="20">
            </button>
        </div>
    </div>

    <!-- Confirm Password Input -->
    <div class="mb-1">
        <label for="confirmPassword" class="form-label text-muted small">Confirm Password</label>
        <div class="input-group">
            <input type="password" class="form-control" id="confirmPassword" name="confirm_password" placeholder="Confirm Password">
            <button class="btn btn-outline-secondary" type="button" onclick="togglePassword2()">
                <img src="../../static/images/eye-icon.png" alt="Show password" width="20" height="20">
            </button>
        </div>
    </div>


    <!-- Sign Up Button -->
    <button type="submit" class="btn btn-primary w-100 mb-2 mt-3 fw-semibold">Sign up</button>

    <!-- Sign In Account Link -->
    <div class="text-center">
        <span class="text-muted">Already have an account?</span>
        <a href="{{ url_for('auth.login') }}" class="link-primary ms-1">Sign in</a>
    </div>
</form>
</div>
</div>

{% endblock %}