{% extends "auth/layouts/auth-base.html" %}
{% block title %}Email Sent{% endblock %}
{% block content %}

<!-- OTP Title -->

<h1 class="mb-2 fw-bold text-center" style="font-size: 2rem; color: #212529;">Check your email</h1>
        <p class="text-muted mb-3 text-center" style="font-size: 0.95rem;">We sent a verification link to:</p>
        <p class="email">{{ email }}</p>

        <div id="message"></div>

        <p style="font-size: 14px; color: #999;">
            Click the link in the email to verify your account and get started.
        </p>

        <div class="divider"></div>

    <!-- Back to /Login Link -->
    <div class="text-center">
<!--        <a class="btn btn-primary w-100 mb-3 fw-semibold" href="{{ url_for('auth.login') }}" class="link-primary">Resend Email</a>-->
        <p style="font-size: 14px;">Didn't receive the email?</p>
        <button onclick="resendEmail()" class="btn btn-primary w-100 mb-3 fw-semibold" id="resendBtn">
            Resend Verification Email
        </button>
    </div>
</div>
</div>


{% endblock %}