Flask==3.1.2
Flask-Bootstrap==3.3.7.1
flask-bootstrap5==0.1.dev1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.11.1
psycopg2-binary==2.9.9
python-dotenv==1.1.1